/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600&display=swap');

/* Components */
@import url('components/navigation.css');

body {
  font-family: 'Fira Sans', sans-serif;
  color: #212631;
  margin-top: 32px;
}

h1 {
  font-size: 70px;
}

.half-highlight {
  background: linear-gradient(to top, #6B9080 50%, transparent 50%);
  /* background-color: #6B9080; */
}

