/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap');

/* Components */
@import url('components/navbar.css');
@import url('components/about.css');
@import url('components/header.css');
@import url('components/experience.css');
@import url('components/card.css');

h1 {
  /* font-size: 70px; */
  font-family: 'Roboto Slab', serif;
}

h2 {
  font-family: 'Roboto Slab', serif;
  color: #444440;
}

p {
  font-family: 'Roboto Slab', serif;
}

.half-highlight {
  background: linear-gradient(to top, #f4b83f 50%, transparent 50%);
}
