.card {
  padding: 32px;
  margin: 12px 16px;
  background-color: white;
}

.cell-title {
  padding: 0 12px;
  text-align: right;
}

.card-subtitle {
  padding-top: 16px;
  padding-bottom: 4px;
}

.cell-title-interest {
  text-align: center;
}