#experience {
  padding-top: 64px;
}

#experience ul {
  list-style: none;
  padding: 0;
}

#colored-square {
  color: #f4b83f;
}

#not-colored-square {
  color: rgb(211, 211, 211);
}

.contact-me a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.contact-me a:hover {
  text-decoration: none;
  background-color: #f4b83f;
  color: white;
  padding: 0 8px;
}

.experience-desc {
  text-align: justify;
}
