.home-links {
  background-color: #EAF4F4;
  padding: 16px;
  width: 200px;
}

.home-links a {
  display: block;
  text-decoration: none;
  color: #212631;
  transition: 0.3s;
  padding: 8px;
}

.home-links a:hover {
  color: #6B9080;
  background: #CCE3DE;
  font-weight: bolder;
}